.App {
  text-align: center;
}
.Container {
  width: 75%;
  margin: auto;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Container {
    width: 92%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 868px) {
  .Container {
    width: 85%;
  }
}
